@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap')

$header_color: #7e57c2
$main_color: #b39ddb
$main_light_color: #e6ceff
$header_text_color: #ffff
$nav_height: 55px
$header_font_size: 22px
$default_font: 'Fira Sans'

=deselect
  -ms-user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none