$header_color: #7e57c2
$main_color: #b39ddb
$main_light_color: #e6ceff
$header_text_color: #ffff
$nav_height: 50px
$header_font_size: 22px

=deselect
  -ms-user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none